<div class="container-fluid">
    <div class="row" style="background-color: #131415;">
        <div class="col-md-12">
            <p class="top-nav"><a href="/dashboard" class="back-btn"><i class="fas fa-arrow-left"></i></a>| <span>Transactions</span></p>
        </div>
    </div>

   <div class="row white-text">

    <% if(DebitAlert.length > 0){ %>
        <% DebitAlert.forEach((history)=>{ %>
         <% if(DebitAlert.credited = 'yes') { %>
            
        <div class="transaction-dev mt-2" style="padding:20px;" >
            <div class="trn-header">
                <p style="color:#ff6a14">Debited Alert</p>
            </div>
            <hr >
            
            <div class="trn-body">
                Your Wallet Have been Debited with
                <span > <span> &#8358; </span> <%= (history.amount).toFixed(2) %> </span>
                From <span style="color:#ff6a14"><%= history.fromwalletid %> </span>
                On <span><%= history.date  %></span> 
                   
            </div>
            
            <div class="trn-footer">
                <span class="text-right"> Reference:<span style="color:#ff6a14;"><%= history.reference %></span></span>
            </div>
        </div>
    
    
    
    
        <% }else{ %>
    
            <div class="transaction-dev mt-2" style="padding:20px;" >
                <div class="trn-header">
                    <p style="color:#ff6a14">Debited Alert</p>
                </div>
                
                <div class="trn-body">
                    Your Wallet Have been Debited with
                    <span > <span> &#8358; </span> <%= (history.amount).toFixed(2) %> </span>
                    Transfer to <span style="color:#ff6a14"><%= history.towalletid %> </span>
                    On <span><%= history.date  %></span> 
                       
                </div>
                
                <div class="trn-footer">
                    <span class="text-right"> Reference:<span style="color:#ff6a14;"><%= history.reference %></span></span>
                </div>
            </div>
    
    
    
    
    
        <% } %> 
    
        <%}); %> 
    
    <% }else{ %>
    
            <center><h4 style="color: white; margin-top:50px;">No Transactions yet!</h4></center>
    
    <%}%>
        
   
   </div>
</div>
<%- include('../partials/stick.ejs');  %> 